body {
  margin: 0;
  padding: 0;

  height: 100vh;
  font-family:"Space Mono", monospace
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFCD38;
  color: #4A4A4A;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.text-panel-left::-webkit-scrollbar,
.text-panel-right::-webkit-scrollbar {
width: 10px;
}

.text-panel-left::-webkit-scrollbar-track,
.text-panel-right::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
}

.text-panel-left::-webkit-scrollbar-thumb,
.text-panel-right::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
